<%javascript_include_tag 'ajaxzip3'%>
<script>
window.onload=function(){
  document.getElementById("destination_postal_code").addEventListener('keyup', function(){
    AjaxZip3.zip2addr(this, '', 'destination[address]', 'destination[address]');
    });
  }
</script>

    <% if @destination.errors.any? %>
      <%= @destination.errors.count %>件のエラーが発生しました
      <% @destination.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>

<h1>配送先編集</h1>

<div class="container">

<div class="row">

<div class="col-md-9">
  <%= form_for @destination, url: destination_update_path(@destination) do |f| %>
    <div class="form-group">
      <%= f.label :name, "名前（漢字）" %>
      <%= f.text_field :name, autocomplete: "name", class:"form-control" %>
      <%= f.label :name_kana, "名前（カナ）" %>
      <%= f.text_field :name_kana, autocomplete: "name_kana", class:"form-control" %>
      <%= f.label :address, "住所" %>
      <div class="input-group">
        <span class="input-group-addon">〒</span>
        <%= f.text_field :postal_code, autocomplete: "postal_code", class:"form-control" %>
      </div>
      <%= f.text_area :address, autocomplete: "address", class:"form-control" %>
      <%= f.label :phone_number, "電話番号" %>
      <%= f.text_field :phone_number, autocomplete: "phone_number", class:"form-control" %>
    </div> <!-- /form-group -->
</div> <!-- /col -->

<div class="col-md-3">
  <div class="form-group">
    <!-- 保存ボタン -->
    <div class="user-actions-button">
      <%= button_tag class:"btn btn-success form-control" do %>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 保存
      <% end %>
    </div>
    <% end %> <!-- /form_for -->
    <!-- 保存ボタンおわり -->
    <!-- 戻るボタン -->
    <div class="user-actions-button">
      <%= link_to destination_index_path(@destination.user_id), style: "text-decoration: none;" do %>
        <button class="btn btn-default form-control">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 戻る
        </button>
      <% end %>
    </div>
    <!-- 戻るボタンおわり -->
  </div> <!-- /form-group -->
</div> <!-- /col -->

</div> <!-- /row -->

</div> <!-- /container -->