<%# 郵便番号から住所を自動表示するjavascript %>
<%javascript_include_tag 'ajaxzip3'%>
<script>
window.onload=function(){
  document.getElementById("user_postal_code").addEventListener('keyup', function(){
    AjaxZip3.zip2addr(this, '', 'user[address]', 'user[address]');
    });
  }
</script>

<h1>ユーザー編集</h1>

        <% if @user.errors.any? %>
          <%= @user.errors.count %>件のエラーが発生しました
          <% @user.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>

<div class="container">

<div class="row">

<div class="col-md-9">
  <%= form_for(@user) do |f| %>
    <div class="form-group">
    <table class="user-edit-table">
      <tr>
        <th>
          名前（漢字）
        </th>
        <td>
          <%= f.text_field :name, class:"form-control" %>
        </td>
      </tr>
      <tr>
        <th>
          名前（カナ）
        </th>
        <td>
          <%= f.text_field :name_kana, class:"form-control" %>
        </td>
      </tr>
      <tr>
        <th>
          ユーザー名
        </th>
        <td>
          <%= f.text_field :nickname, class:"form-control" %>
        </td>
      </tr>
      <tr>
        <th>
          生年月日
        </th>
        <td>
          <%= raw sprintf(f.date_select(
                                  :birthday,
                                  use_month_numbers: true,
                                  start_year:        1930,
                                  end_year:          (Time.now.year - 18),
                                  default:           @user[:birthday],
                                  date_separator: '%s'), '年', '月') + '日' %>
        </td>
        </tr>
        <tr>
          <th>
            住所
          </th>
          <td>
            <div class="input-group">
              <span class="input-group-addon">〒</span>
              <%= f.text_field :postal_code, class:"form-control" %>
            </div>
            <%= f.text_area :address, class:"form-control" %>
          </td>
        </tr>
        <tr>
          <th>
            配送先
          </th>
          <td>
            <%= link_to "配送先の追加・編集", destination_index_path %>
          </td>
        </tr>
        <tr>
          <th>
            電話番号
          </th>
          <td>
            <%= f.text_field :phone_number, class:"form-control" %>
          </td>
        </tr>
        <tr>
          <th>
            メールアドレス
          </th>
          <td>
            <%= f.text_field :email, class:"form-control" %>
          </td>
        </tr>
      </table>
    </div> <!-- /form-group -->
</div> <!-- /col -->

<div class="col-md-3">
  <div class="form-group">
    <!-- 保存ボタン -->
    <div class="user-actions-button">
      <%= button_tag class:"btn btn-success form-control" do %>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 保存
      <% end %>
    </div>
    <% end %> <!-- /form_for -->
    <!-- 保存ボタンおわり -->
    <!-- 戻るボタン -->
    <div class="user-actions-button">
      <%= link_to user_path(@user.id), style: "text-decoration: none;" do %>
        <button class="btn btn-default form-control">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 戻る
        </button>
      <% end %>
    </div>
    <!-- 戻るボタンおわり -->
  </div>
</div> <!-- /col -->

</div> <!-- /row -->

</div> <!-- /container -->