<style>
th {text-align:center;}
form {margin: 0;}
</style>
<table class="table">
<thead>
<tr>
<th></th>
<th>image</th>
<th>product</th>
<th>artist</th>
<th>comment</th>
<th>edit</th>
<th></th>
</tr>
</thead>
<tbody>
<% @posts.each do |post| %>
<% if post.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
<tr>
<% post.errors.full_messages.each do |message| %>
  <th><% message %></th>
<% end %>
</tr>
</div>
<% end %>
<tr>
<th></th>
<th><%= post.product.product_image_id %></th>
<th><%= link_to post.product.product_name, product_path(post.product) %></th>
<th>アーティスト</th>
<th id="<%= post.id %>"><%= post.comment %></th>
<th><%= link_to "編集", edit_user_post_path(user_id: current_user.id, id: post.id), remote: true %></th>
<th><%= link_to "delete", user_post_path(user_id: current_user.id, id: post.id), method: :delete %></th>
</tr>
<% end %>
</tbody>
</table>
