
<div class="nested-fields">
  <div class="fields">
    <table>
      <tr>
          <th>Disc</th>
      </tr>
      <tr>
        <td><%= f.number_field :disc_no, min:0  %><br></td>
        <td><%= link_to_remove_association "ディスク削除", f %></td>
      </tr>
    </table>
  </div>



  <div class="items">
      <%= f.fields_for :songs do |song| %>
        <%= render 'song_fields', f: song %>
      <%end%>

      <div class="links">
      <%= link_to_add_association "曲追加", f, :songs %>
      </div>
  </div>
</div>
