<div class="container">
	<div class="row">
		<div class="col-lg-4">
		<%= form_for(@product, html:{class: 'form-horizontal'}) do |f| %>
			<!-- image -->
			<%= f.attachment_field :product_image, class: "user_image" %>

			<h4>シングル/アルバム名</h4>
				<%= f.text_field :product_name %>

			<h4>アーティスト名</h4>
				<%= f.collection_select :artist_id, Artist.all, :id, :artist_name, {:prompt => "選択してください--⬇"} %>
																			<!--or  :include_blank => true  空欄追加 -->
			<h4>レーベル名</h4>
				<%= f.collection_select :label_id, Label.all, :id, :label_name, {:prompt => "選択してください--⬇"} %>

			<h4>ジャンル名</h4>
				<%= f.collection_select :genre_id, Genre.all, :id, :genre_name, {:prompt => "選択してください--⬇"} %>
		</div>

        <!-- discのHTMLを表示させてる　　 -->
        <div class="col-lg-8">
		  <div id="discs">
		  	<%= f.fields_for :discs do |disc| %>
				<%= render 'disc_fields', f: disc %>
			<% end %>
		  </div>

          <div id="links">
            <%= link_to_add_association '＋add disc', f, :discs %>
          </div>


			<h4>在庫数</h4>
			<%= f.number_field :stock, min:0 %><br>

			<h4>価格</h4>※すーさん価格表示の変更をお願いします
				<div id="prices">
					<p>現在の価格</p>
					<% @product.prices.each do |price| %>
						<%= price.price %>
					<% end %><br>

					<%= link_to "価格の変更", price_new_path(@product) %>

				</div>


			<%= f.submit'更新', class: "Update" %>
		<% end %>
		</div>
	</div>
</div>