<h1>商品詳細画面</h1>

<div class="container">

<div class="row">

<div class="col-md-4">
<!-- ジャケット写真 -->
<div class="product-image-show">
  <% if @product.product_image.present? %>
    <%= attachment_image_tag @product, :product_image, :fill, 300, 300, format: 'jpeg' %>
  <% else %>
    No Image
  <% end %>
</div>
<!-- ジャケット写真おわり -->
</div> <!-- /col -->

<div class="col-md-5">
  <table class="product-show-headline">
    <tr>
      <td class="product-show-name">
				<%= @product.product_name %>
      </td>
    </tr>
    <tr>
      <td class="product-show-artist">
				<%= @product.artist.artist_name %>
      </td>
    </tr>
  </table>
  <table class="product-show-details">
    <tr>
      <td class="product-show-label">
				レーベル: <%= @product.label.label_name %>
      </td>
    </tr>
    <tr>
      <td class="product-show-genre">
				ジャンル: <%= @product.genre.genre_name %>
      </td>
    </tr>
  </table>
</div> <!-- /col -->

<div class="col-md-3">
  <!-- 価格 -->
  <div class="product-show-price">
    <% @product.prices.reverse_each do |price| %>
      &yen; <%= number_with_delimiter(price.price) %>
      <% break %>
    <% end %>
  </div>
  <!-- 価格おわり -->
  <!-- 在庫 -->
  <div class="product-show-stock">
    <% if user_signed_in? %>
      <% if current_user.admin %>
        在庫数: <%= @product.stock %>
      <% else %>
        <% if @product.stock == 0 %>
          <span class="stock-zero">
            在庫なし
          </span>
        <% elsif @product.stock == 1 %>
          <span class="stock-one">
            <p>残り1点</p>
            <p>ご注文はお早めに！</p>
          </span>
        <% else %>
          <span class="stock-plenty">
            在庫あり
          </span>
        <% end %>
      <% end %>
    <% else %>
      <% if @product.stock == 0 %>
        <span class="stock-zero">
          在庫なし
        </span>
      <% elsif @product.stock == 1 %>
        <span class="stock-one">
          <p>残り1点</p>
          <p>ご注文はお早めに！</p>
        </span>
      <% else %>
        <span class="stock-plenty">
          在庫あり
        </span>
      <% end %>
    <% end %>
  </div>
  <!-- 在庫おわり -->
  <div class="product-actions form-group">
    <% if user_signed_in? %>
      <!-- 管理者ログイン時 -->
      <% if current_user.admin %>
        <div class="product-show-actions-button">
          <%= link_to edit_product_path(@product.id), style: "text-decoration: none;" do %>
            <button class="btn btn-success form-control">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 商品の編集
            </button>
          <% end %>
        </div>
        <div class="product-show-actions-button">
          <%= link_to product_path(@product.id), method: :delete, data: { confirm: "本当に削除しますか？\n（商品を削除すると、関連するコレクションの投稿も削除されます）" }, style: "text-decoration: none;" do %>
            <button class="btn btn-danger form-control">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 商品の削除
            </button>
          <% end %>
        </div>
      <!-- 管理者ログイン時おわり -->
      <!-- ユーザーログイン時 -->
      <% else %>
        <% if @product.stock != 0 %>
          <div class="product-show-actions-button">
            <%= link_to add_cart_path(@product.id, product_id: @product.id), method: :post, style: "text-decoration: none;" do %>
              <button class="btn btn-warning form-control">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> カートに追加
              </button>
            <% end %>
          </div>
        <% else %>
          <div class="product-show-actions-button">
            <button class="btn btn-default form-control" disabled="disabled">
              <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> 売り切れです
            </button>
          </div>
        <% end %>
        <!-- マイコレクション追加ボタン -->
        <!-- 追加済み時 -->
        <% if @product.posted_by?(current_user) %>
          <div class="product-show-actions-button">
            <%= link_to post_products_path(@product), class:"fav", remote: true, style: "text-decoration: none;" do %>
              <button class="btn btn-danger form-control" id="<%= @product.id %>">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" id="aw<%= @product.id %>"></span><span id="ss<%= @product.id %>" style="font-size:14px;"> マイコレ削除</span>
              </button>
            <% end %>
          </div>
          <!-- 追加済み時おわり -->
        <!-- 未追加時 -->
        <% else %>
          <div class="product-show-actions-button">
            <%= link_to post_products_path(@product), class:"fav", remote: true, style: "text-decoration: none;" do %>
              <button class="btn btn-info form-control" id="<%= @product.id %>">
                <span class="glyphicon glyphicon-music" aria-hidden="true" id="aw<%= @product.id %>"></span><span id="ss<%= @product.id %>" style="font-size:14px;"> マイコレ追加</span>
              </button>
            <% end %>
          </div>
        <% end %>
        <!-- 未追加時おわり -->
        <!-- マイコレクション追加ボタンおわり -->
      <% end %>
      <!-- ユーザーログイン時おわり -->
    <!-- 非ログイン時 -->
    <% else %>
      <% if @product.stock != 0 %>
        <div class="product-show-actions-button">
          <%= link_to add_cart_path(@product.id, product_id: @product.id), method: :post, style: "text-decoration: none;" do %>
            <button class="btn btn-warning form-control">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> カートに追加
            </button>
          <% end %>
        </div>
      <% else %>
        <div class="product-show-actions-button">
          <button class="btn btn-default form-control" disabled="disabled">
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> 売り切れです
          </button>
        </div>
      <% end %>
    <% end %>
    <!-- 非ログイン時おわり -->
    <!-- この商品をコレクションに追加しているユーザー一覧 -->
    <div class="product-show-actions-button">
      <%= link_to post_users_path(@product.id), style: "text-decoration: none;" do %>
        <button class="btn btn-default form-control">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> マイコレユーザー一覧
        </button>
      <% end %>
    </div>
    <!-- この商品をコレクションに追加しているユーザー一覧おわり -->
  </div>
</div> <!-- /col -->

</div> <!-- /row -->

<div class="row">

<div class="col-md-12">

<!-- --------------------------------------------------- -->
<!-- ---------- ここから下の範囲を修正してください ---------- -->
<!-- --------------------------------------------------- -->

        <!-- discのHTMLを表示させてる　　 -->
        	<p>ディスク No.</p>
        	 <p>曲 No.</p>
        	 <p>曲名</p>

   			<% @product.discs.each do |disc| %>
   					<div><%= disc.disc_no %></div>
   				<% disc.songs.each do |song| %>
   					<div><%= song.song_no %></div>
   					<div><%= song.song %></div>
   				<% end %>
   			<% end %>

<!-- --------------------------------------------------- -->
<!-- ---------- ここから上の範囲を修正してください ---------- -->
<!-- --------------------------------------------------- -->

</div> <!-- /col -->

</div> <!-- /row -->

</div> <!-- /container -->