<!DOCTYPE html>
<html>
  <head>
    <title>Tmusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
      <div class="logo">Tumic(logo)</div>

      <% if user_signed_in? %>
        <div class="userinfo">
          <p>こんにちは、<%= current_user.name %>さん</p>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
        </div>

      <% else %>
        <div class="button">
          <%= link_to "新規登録", new_user_registration_path, class: "sign_up btn" %>
          <%= link_to "ログイン", new_user_session_path, class: "sign_in btn" %>
        </div>
      <% end %>
    </header>

    <main>
      <div class="flash">
        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
        <%= yield %>
    </main>

    <footer>
      <div class="logo">Tmusic(logo)</div>
    </footer>
  </body>
</html>
