<!DOCTYPE html>
<html>
  <head>
    <title>Tmusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
      <div class="logo">Tumic(logo)</div>

      <% if user_signed_in? %>
        <div class="dropdown">
        ログイン：
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false">
            <%= current_user.name %>さん
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><%= link_to "マイページ", user_path(current_user) %></li>
            <li role="presentation"><%= link_to "コレクション", user_posts_path(current_user) %></li>
            <li role="presentation"><%= link_to "購入履歴", user_histories_path(current_user) %></li>
            <li role="presentation"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %></li>
          </ul>
      </div>


      <% else %>
        <div class="button">
          <%= link_to "新規登録", new_user_registration_path, class: "sign_up btn" %>
          <%= link_to "ログイン", new_user_session_path, class: "sign_in btn" %>
        </div>
      <% end %>
    </header>

    <main>
      <div class="flash">
        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
        <%= yield %>
    </main>

    <footer>
      <div class="logo">Tmusic(logo)</div>
    </footer>
  </body>
</html>
